---
import Layout from '../layouts/Layout.astro';
import '@fontsource/space-mono';
import TaskCalendar from '../components/TaskCalendar';
---

<Layout title="trypablo website">
	<main class="min-h-screen p-4">
		<div class="max-w-3xl mx-auto">
			<h1 class="font-['Space_Mono'] text-6xl font-bold text-center mb-2">
				<span class="text-[#883aea]">trypablo</span>
			</h1>
			<h2 class="font-['Space_Mono'] text-m font-bold text-center mb-8">
				<span class="text-white">dev, designer, artist</span>
			</h2>
			
			<div class="mb-8">
				<TaskCalendar client:load />
			</div>

			<p class="font-['Space_Mono'] text-sm font-bold text-center mb-4">
				<span>have some fun in the meantime</span>
			</p>
			<canvas class="block mx-auto"></canvas>

			<script is:inline src="/script.js"></script>	
		</div>
	</main>
</Layout>